/*------------------------------------*\
  # COMPONENTS: Elementos específicos de la UI con estilos visuales.
\*------------------------------------*/

.recipe {
  @include border-glow();
  border-radius: 20px;
  padding: 16px;
  transition: transform 0.3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &:hover {
    border: adjust-opacity(0.6); // 60% opacidad en hover
  }

  &__main-title,
  &__title {
    @include neon-shadow();
  }

  &__image-container {
    width: 100%;
    margin-top: 2rem;
  }

  &__image {
    width: 70%;
    border-bottom: 2px solid $color-border;
  }

  &__content {
    width: 100%;
    text-align: left;
    padding: 0.5rem;

    &--intro {
      font-family: $font-family-serif;
      font-weight: 300;
    }

    &--ingredients {
      font-family: $font-family-serif;
    }

    &--steps {
      margin: 1.5rem 0;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.125rem;
    color: $color-secondary;
    font-family: $font-family-serif;
    font-weight: 500;
    padding: 0.5rem;
  }

  &__list {
    list-style: none;
    /* Quita los bullets predeterminados */
    padding-left: 0;
    font-family: $font-family-serif;
    font-size: var(--font-size-base);
    font-weight: 300;
  }

  &__item,
  &__step {
    margin: 0.5rem;
  }

  &__item::before {
    content: "\f816";
    font-family: $font-family-icons;
    font-weight: 600;
    color: $color-secondary;
    margin-right: 0.5rem;
    /* Espacio entre el ícono y el texto */
  }

  &__steps {
    font-family: $font-family-serif;
    font-size: var(--font-size-base);
    font-weight: 300;
  }
  
  &__steps-images {
    display: flex;
  }

  &__steps-image {
    width: 100%;
  }

  // /*------------------------------------*\
  //   # RESPONSIVE DESIGN
  // \*------------------------------------*/
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas:
      "header       ingredients"
      "intro        ingredients"
      "steps        steps";
    gap: 1.5rem;

    &__header {
      grid-area: header;
    }

    &__image {
      width: 100%;
    }

    &__content {
      padding: 0 1.5rem;
    }

    &__content--intro {
      grid-area: intro;
    }

    &__content--ingredients {
      grid-area: ingredients;
    }

    &__content--steps {
      grid-area: steps;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "title       title"
        "sauce       chilaquiles"
        "img-sauce   img-chilaquiles";
      gap: 1.5rem;

      &__images--sauce {
        grid-area: img-sauce;
      }

      &__images--chilaquiles {
        grid-area: img-chilaquiles;
      }
    }

    &__steps-title {
      grid-area: title;
      text-align: center;
    }

    &__steps-sauce {
      grid-area: sauce;
    }

    &__steps-chilaquiles {
      grid-area: chilaquiles;
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1.5fr 1fr;

    &__image {
      width: 60%;
    }

    &__content {
      padding: 0 2rem;
    }
  }
}