/*------------------------------------*\
  # BASE (Base styles)
\*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-family-sans-serif;
    background-color: $color-bg;
    color: $color-text;
    text-align: center;
  }