@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

$font-family-sans-serif: 'Orbitron', sans-serif;
$font-family-serif: "Roboto Slab", serif;;


// $uoc-corporate: #000078;
// $uoc-masterbrand: #73edff;
// $uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$color-bg: #0f0f0f;
$color-text: #ffffff;
$color-primary: #00ffff;
$color-secondary: #ff00ff;
$color-border: #00ff99;

$color-bg--linear-primary: linear-gradient(90deg, rgb(239, 47, 212) 0%, rgb(46, 34, 46) 30%);
$color-bg--linear-secondary: linear-gradient(180deg, rgb(0, 255, 255, 0.5) 100%, rgb(0, 0, 0) 100%); 

$mq-min-width: 420px;
